@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alex+Brush&family=Ballet:opsz@16..72&family=Bebas+Neue&family=Fredericka+the+Great&family=Rye&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    font-size: 20px;
}
section{
    height: 100vh;
    width: 100vw;
}

.border-bottom-proper {
  border-bottom: 3px solid #dee2e6 !important;
}

.b-color{
  background-color: #423d3d;
}



.fuente-size-auto{
    font-size: calc(7vw + 5vh);
    /* font-size: 20vw;  */
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}
.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name */

/* cursiva */

.ballet-google {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.alex-brush-regular {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

           
  